* {
    font-family: 'Baloo Tammudu 2';
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* PALETA COLORES 
    blanco #ffffff
    azul #1069e3
    azul oscuro #0e58be
    gris #3E4958 
    hoover #ffffff7c
*/


/* INDEX - Header */
.header-container {
    background-color: #0e58be;
    padding: 0px;
    position: sticky;
    top: 0px;
    z-index: 999%;
    width: 100%;
    height: 10vh;
}

/* Logo */
.header-logo {
    float: left;
}

.header-logo img {
    width: 90px;
    height: auto;
    padding-left: 10px;
    padding-top: 5px;
}

/* Barra menú */
.header-menu {
    justify-content: flex-end;
    font-size: 20px;
    text-decoration: none;
    display: flex;
}

.header-menu ul {
    padding-top: 10px;
    list-style: none;
}

.header-menu ul li {
    display: inline-block;
    position: relative;
}

.header-menu ul li a {
    margin: 0 30px;
    text-decoration: none;
    color: #ffffff;
}

.header-menu ul li a:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #ffffff7c;
    padding: 5px 10px 0px 10px;
    border-radius: 5px;
    display: block;
}

/* User log in - sign in */
.header-menu ul ul {
    position: absolute;
    display: none;
    margin-block-start: 0px;
    background-color: #0e58be;
    right: 10px;
    min-width: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-menu ul ul li {
    display: list-item;
    font-size: 18px;
    text-align: left;
}

.header-menu ul li:hover ul {
    display: block;
}

/* Avatar de sign on */
.header-menu ul li a img {
    width: 45px;
    align-items: right;
}

/* Foto perfil */
.header-menu ul li .foto-perfil img {
    width: 45px;
    align-items: right;
    border-radius: 25px;
}

/* INDEX - Preferencias viaje */
/* Título */
.titulo-elegi-viaje {
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    color: #3E4958;
}

/* Grid-box preferencias */
.container-grid-pref-dos {
    padding: 10px;
    text-align: center;
    background-color: #1069e3;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 15px;
    border-radius: 15px;
}

/* search from */
.container-grid-pref-dos .origen {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    font-size: 1rem;
    padding-left: 5px;
    border-style: inherit;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: .290rem .400rem;
    background-color: #ffffff;
}

/* search to */
.container-grid-pref-dos .destino {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    font-size: 1rem;
    padding-left: 5px;
    border-style: inherit;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: .290rem .400rem;
    background-color: #ffffff;
}

/* calendar */
.container-grid-pref-dos .calendar .calendar {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    font-size: 1rem;
    padding-left: 5px;
    border-style: inherit;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: .200rem .400rem;
    background-color: #ffffff;
    color: #3E4958;
}

/* passenger */
.container-grid-pref-dos .passenger .number {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    font-size: 1rem;
    padding-left: 5px;
    border-style: inherit;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: .290rem .400rem;
    background-color: #ffffff;
}

/* Search button */
.container-grid-pref-dos .search-button {
    cursor: pointer;
    grid-column: 2 / 4;
    grid-row: 2 / 2;
    font-size: 15px;
    font-weight: bold;
    padding: 4px 8px 0px 8px;
    border: inherit;
    border-radius: 5px;
    color: #3E4958;
}

.container-grid-pref-dos .search-button:hover {
    cursor: pointer;
    color: #000000;
}

/* Container BENEFICIOS */
/* Beneficio 1*/
.benef1-container {
    padding-top: 10rem;
    text-align: center;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.benef1-container .img-benef1 img {
    height: 450px;
    width: auto;
    border-radius: 5px;
    align-content: center;
}

.benef1-container img:hover {
    opacity: 80%;
    transition: ease-in-out 0.10s;
}

.benef1-container .frase-benef1 {
    text-align: left;
    padding-top: 200px;
    font-size: 25px;
    color: #3E4958;
    font-weight: bold;
}

/* Beneficio 2 */
.benef2-container {
    padding-top: 30rem;
    text-align: center;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.benef2-container img {
    height: 600%;
    width: auto;
    border-radius: 5px;
    align-content: center;
}

.benef2-container img:hover {
    opacity: 80%;
    transition: opacity ease-in-out 0.10s;
}

.benef2-container .frase-benef2 {
    text-align: right;
    padding-top: 100px;
    font-size: 25px;
    color: #3E4958;
    font-weight: bold;
}

/* Beneficio 3 */
.benef3-container {
    padding-top: 23rem;
    text-align: center;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.benef3-container img {
    height: 450px;
    width: auto;
    border-radius: 5px;
    align-content: center;
}

.benef3-container img:hover {
    opacity: 80%;
    transition: opacity ease-in-out 0.10s;
}

.benef3-container .frase-benef3 {
    text-align: left;
    padding-top: 200px;
    font-size: 25px;
    color: #3E4958;
    font-weight: bold;
}


/* BUSCAR VIAJE */
.titulo-buscar-publicar-viaje {
    font-size: 40px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    color: #3E4958;
}

.from-to {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

/* Container FROM */
.from-container {
    border-style: inherit;
    border-radius: 5px;
    display: grid;
    margin: auto;
    width: 40%;
    padding: .500rem .400rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    background-color: #1069e3;
    grid-template-columns: 0.5fr 4fr;
    grid-template-rows: 1fr;
}

.from-container .from {
    text-align: center;
    grid-column: 1 / 1;
    font-size: 28px;
    color: #ffffff;
    padding-top: 10px;
}

.from-container .search-from .origen {
    text-align: left;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: #3E4958;
    border-radius: 5px;
    padding-top: 15px;
    border-style: inherit;
}

/* Container TO */
.to-container {
    border-style: inherit;
    border-radius: 5px;
    display: grid;
    margin: auto;
    width: 40%;
    padding: .500rem .400rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    background-color: #1069e3;
    grid-template-columns: 0.5fr 4fr;
    grid-template-rows: 1fr;
}

.to-container .to {
    text-align: center;
    grid-column: 1 / 1;
    font-size: 28px;
    color: #ffffff;
    padding-top: 10px;
}

.to-container .search-to .destino {
    text-align: left;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: #3E4958;
    border-radius: 5px;
    padding-top: 15px;
    border-style: inherit;
}

/* Search button */
.search-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 10px 0px 10px;
    border: inherit;
    border-radius: 5px;
    text-align: center;
    color: #3E4958;
}

.search-button:hover {
    cursor: pointer;
    color: #000000;
}

/* FOOTER */
.footer {
    width: 100%;
    position: absolute;
    padding: 0px;
    position: fixed;
    bottom: 0px;
}

.foot-options {
    display: flex;
    justify-content: center;
    background-color: #0e58be;
    padding-top: 10px;
}

.foot-option a {
    font-size: 15px;
    text-decoration: none;
    margin: 0 30px;
    color: #ffffff;
}

.foot-option a:hover {
    cursor: pointer;
    color: #000000;
    background-color: #ffffff7c;
    padding: 6px 3px 0px 3px;
    border-radius: 5px;
    display: block;
}

.foot-option img {
    width: 60px;
}

/* INICIO SESIÓN - REGISTRO */
/* Título */
.titulo-inicio-sesion {
    font-size: 25px;
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    color: #3E4958;
}

/* Opciones inicio sesión - registro */
.opciones-inicio-sesion ul {
    font-size: 20px;
    text-align: center;
}
.opciones-inicio-sesion ul li {
    padding-top: 20px;
}

.opciones-inicio-sesion ul li a {
    text-decoration: none;
    color: #1069e3;
    font-weight: bold;
}

.opciones-inicio-sesion ul li a:hover {
    cursor: pointer;
    padding: 5px 15px 1px 15px;
    border-radius: 5px;
    background-color: #1069e3;
    color: #ffffff;
}

/* Mi perfil */
.hola-rafaela {
    font-size: 30px;
    padding-left: 25rem;
    padding-top: 3rem;
    font-weight: bold;
    color: #3E4958;
}

/* Opciones perfil */
.main-user-box {
    display: flex;
    padding-left: 25rem;
    padding-right: 25rem;   
}

.opciones-perfil {
    display: grid;
    margin: auto;
    max-width: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 3rem;
    margin-top: 0rem;
}

.opcion-perfil {
    font-size: 25px;
    font-weight: bold;
    color: #0e58be;
}

/* Opción preferencia viaje */
.preferencia-user {
    font-size: 18px;
    color: #3E4958;
}

.preferencia-user img {
    width: 12%;
}

/* Opción certificaciones */
.certificacion-user a {
    font-size: 18px;
    text-decoration: none;
}

.certificacion-user img {
    width: 10%;
}

.editar a {
    text-decoration: none;
    font-size: 18px;
}

/* Mensajes */
.mensajes-box {
    padding-left: 25rem;
    padding-right: 25rem;
    border: 1px solid #0e58be;
}

.mensajes-conversaciones-container {
    display: grid;
    max-width: 100%;
    grid-template-columns: 0.3fr 5fr;
    grid-template-rows: 1fr;
}

.mensajes-conversaciones-container :hover {
    cursor: pointer;
}

.mensaje-titulo {
    font-size: 20px;
    font-weight: bold;
    color: #0e58be;
    padding-bottom: 1rem;
}

.mensaje-titulo img {
    width: 3%;
}

.mensaje-user {
    grid-column: 1 / 1;
    justify-self: start;
}

.mensaje-user img {
    width: 50px;
} 

.mensaje-texto {
    font-size: 18px;
    padding-top: 10px;
    color: #3E4958;
    justify-self: start;
}

.divisor {
    color: #b9bcbe;
}