.container-main {
    min-height: calc(100vh - 4rem - 6.5rem);
}

.footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}

.foot-options {
    display: flex;
    background-color: #0e58be;
    height: 4rem;
    justify-content: center;
}

.foot-option {
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    padding-top: 1.5rem;

    a:hover {
        cursor: pointer;
        display: block;
    }
}

.foot-option-github a img {
    margin: 0 5rem;
    color: #ffffff;
    width: 5rem;
    padding-top: 0.5rem;
}

/* ---------------------- INICIO SESIÓN - REGISTRO ---------------------- */
.titulo-inicio-sesion h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 5rem;
    font-weight: bold;
    color: #3E4958;
}
