.header {
    position: sticky;
    top: 0;
}

.container-fluid {
    background-color: #0e58be;
    padding: 0;
    height: 6.5rem;
    margin: auto;

    .header-logo {
        float: left;

        img {
            width: 15%;
            height: auto;
            padding-left: 1rem;
            padding-top: 0.75rem;
            padding-bottom: 1rem;
        }
    }

    .header-menu {
        justify-content: flex-end;
        font-size: 22px;
        text-decoration: none;
        display: flex;
        padding-right: 2rem;

        ul {
            padding-top: 1.5rem;
            list-style: none;

            li {
                display: inline-block;
                position: relative;

                a {
                    margin: 0 2rem;
                    text-decoration: none;
                    color: #ffffff;
                }

                img {
                    width: 50px;
                    align-items: right;
                    border-radius: 25px;
                }
            }

            ul {
                position: absolute;
                display: none;
                margin-block-start: 0rem;
                background-color: #0e58be;
                right: 1rem;
                min-width: 200px;
                border-radius: 5px;

                li {
                    display: list-item;
                    font-size: 20px;
                    text-align: left;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

.header-menu ul li:hover ul {
    display: block;
}

.header-menu ul li a:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #ffffff7c;
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
    display: block;
}

.header-menu ul li img:hover {
    cursor: pointer;
}