* {
    font-family: 'Baloo Tammudu 2';
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/* PALETA COLORES 
    blanco #ffffff
    azul #1069e3
    azul oscuro #0e58be
    gris #3E4958 
    hoover #ffffff7c
*/

/* ---------------------- INDEX ---------------------- */
/* Preferencias viaje */
.titulo-elegi-viaje h2 {
    font-size: 60px;
    text-align: center;
    padding-top: 4rem;
    color: #3E4958;
    font-weight: bold;
    padding-bottom: 1rem;
}

/* Grid-box preferencias */
.container-grid-pref-dos {
    padding: 20px;
    text-align: center;
    background-color: #1069e3;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 1rem;
    border-radius: 15px;

    .origen,
    .destino,
    .calendar .calendar,
    .passenger .number {
        font-size: 20px;
        padding-left: 5px;
        border-style: inherit;
        border-radius: 10px;
        display: block;
        width: 100%;
        padding: .290rem .400rem;
        background-color: #ffffff;
        grid-row: 1 / 1;
    }

    .origen {
        grid-column: 1 / 1;
    }

    .destino {
        grid-column: 2 / 2;
    }

    .calendar .calendar {
        grid-column: 3 / 3;
        color: #3E4958;
    }

    .passenger .number {
        grid-column: 4 / 4;
    }

    .search-button {
        cursor: pointer;
        grid-column: 2 / 4;
        grid-row: 2 / 2;
        font-size: 18px;
        font-weight: bold;
        padding: 6px 8px 0px 8px;
        border-radius: 5px;
        color: #3E4958;

        :hover {
            cursor: pointer;
            color: #000000;
        }
    }
}

/* Beneficios */
.beneficios {
    padding-top: 5rem;
}

.benef1-container {
    text-align: center;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.benef1-container img,
.benef3-container img {
    height: 350px;
    width: auto;
    border-radius: 5px;
    align-content: center;
}

.benef2-container img {
    height: auto;
    width: 400px;
    border-radius: 5px;
    align-content: center;
}


.benef1-container img:hover,
.benef2-container img:hover,
.benef3-container img:hover {
    opacity: 80%;
    transition: ease-in-out 0.10s;
}

.benef1-container .frase-benef1 {
    text-align: left;
    padding-top: 12rem;
    font-size: 23px;
    color: #3E4958;
    font-weight: bold;
    padding-left: 1rem;
}

.benef2-container {
    padding-top: 30rem;
    text-align: center;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.benef2-container .frase-benef2 {
    text-align: right;
    padding-top: 4rem;
    font-size: 23px;
    padding-right: 1rem;
    color: #3E4958;
    font-weight: bold;
}

.benef3-container {
    padding-top: 20rem;
    text-align: center;
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.benef3-container .frase-benef3 {
    text-align: left;
    padding-left: 1rem;
    padding-top: 12rem;
    font-size: 23px;
    color: #3E4958;
    font-weight: bold;
}

/* ---------------------- BUSCAR VIAJE - PUBLICAR VIAJE ---------------------- */
.titulo-buscar-publicar-viaje {
    font-size: 40px;
    text-align: center;
    padding-top: 5rem;
    font-weight: bold;
    color: #3E4958;
}

.from-to {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
}

.from-container,
.to-container {
    border-style: inherit;
    border-radius: 5px;
    display: grid;
    margin: auto;
    width: 50rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #1069e3;
    grid-template-columns: 0.5fr 4fr;
    grid-template-rows: 1fr;

    .from,
    .to {
        text-align: center;
        grid-column: 1 / 1;
        font-size: 28px;
        color: #ffffff;
        padding-top: 10px;
    }

    .search-from .origen,
    .search-to .destino {
        text-align: left;
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        color: #3E4958;
        border-radius: 5px;
        padding-top: 15px;
        border-style: inherit;
    }
}

.search-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 10px 0px 10px;
    border-radius: 5px;
    text-align: center;
    color: #3E4958;

    :hover {
        cursor: pointer;
        color: #000000;
    }
}

/* ---------------------- INICIO SESIÓN -REGISTRO ---------------------- */
.opciones-inicio-sesion ul {
    font-size: 22px;
    text-align: center;

    li {
        padding-top: 20px;

        a {
            text-decoration: none;
            color: #1069e3;
            font-weight: bold;

            :hover {
                cursor: pointer;
            }
        }
    }
}

/* ---------------------- PERFIL USUARIO ---------------------- */
.hola-rafaela {
    font-size: 30px;
    padding-left: 20rem;
    padding-top: 3rem;
    font-weight: bold;
    color: #3E4958;
}

.opcion-perfil {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0e58be;
    padding-top: 1.5rem;
}

.preferencia-user {
    font-size: 1rem;
    color: #3E4958;
}

.preferencia-user img,
.certificacion-user img {
    width: 5%;
}

.certificacion-user a,
.editar a {
    font-size: 1rem;
    text-decoration: none;
}


/* ---------------------- FOOTER ---------------------- */
.container-main {
    height: 2000px;
  }
  
  .footer {
    height: 5rem;
    background-color: #0E58BE;
  }
  
  .foot-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .foot-option {
      font-size: 1rem;
      text-decoration: none;
      color: #ffffff;
      padding-top: 1.5rem;
  
      a:hover {
          cursor: pointer;
          display: block;
      }
  }
  
  .foot-option-github a img {
      margin: 0.5rem;
      color: #ffffff;
      width: 5rem;
      padding-top: 0.5rem;
  }

  
  /* ---------------------- INICIO SESIÓN - REGISTRO ---------------------- */
  .titulo-inicio-sesion h2 {
      font-size: 35px;
      text-align: center;
      padding-top: 5rem;
      font-weight: bold;
      color: #3E4958;
  }  

/* ---------------------- MEDIA QUERY - CELULARES Y TABLETS ---------------------- */
@media screen and (max-width: 660px) {
    .foot-options {
        flex-flow: column;
        height: 8rem;
        text-align: center;
    }

    .hola-rafaela {
        padding-left: 2rem;
    }

    .footer {
        height: 8rem;
      }
}

@media screen and (max-width: 900px) {
    .container-grid-pref-dos {
        display: flex;
        flex-flow: column;
    }

    .benef1-container {
        display: flex;
        flex-flow: column;
    }

    .benef1-container img,
    .benef3-container img {
        height: 20rem;
    }

    .benef1-container .frase-benef1,
    .benef2-container .frase-benef2,
    .benef3-container .frase-benef3 {
        text-align: center;
        padding-top: 1rem;
        font-size: 1.2rem;
    }

    .benef2-container {
        display: flex;
        flex-flow: column;
        padding-top: 1rem;
        align-items: center;
    }

    .benef3-container {
        display: flex;
        flex-flow: column;
        padding-top: 4rem;
    }

    .benef2-container img {
        width: 20rem;
    }


    .main-user-box {
        flex-flow: column;
    }


    .from-container,
    .to-container {
        width: 100%;
    }
}



/* ---------------------- MEDIA QUERY - HASTA NOTEBOOK ---------------------- */
@media screen and (min-width: 900px) and (max-width: 1024px) {
    .container-grid-pref-dos {
        display: flex;
        flex-flow: column;
    }

    .benef1-container {
        display: flex;
        flex-flow: reverse column;
    }

    .benef1-container .frase-benef1,
    .benef2-container .frase-benef2,
    .benef3-container .frase-benef3 {
        padding-top: 10rem;
        font-size: 1.2rem;
        padding-left: 1rem;
    }

    .benef2-container {
        display: flex;
        flex-flow: reverse column;
        padding-top: 3rem;
        align-items: center;
    }

    .benef3-container {
        display: flex;
        flex-flow: reverse column;
        padding-top: 4rem;
    }
}